<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=DatabaseServer.dev.GenesysSource.com;initial catalog=FrameworkData;integrated security=True;multipleactiveresultsets=True;application name=GenesysFramework" providerName="System.Data.EntityClient" />
</connectionStrings>
