<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\FrameworkData.mdf;Integrated Security=True;Application Name=GenesysFramework;" providerName="System.Data.SqlClient" />
</connectionStrings>
