<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\FrameworkData.mdf;Integrated Security=True;Application Name=GenesysFramework;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection-LocalFile" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\FrameworkData.mdf;Integrated Security=True;Application Name=GenesysFramework;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection-SQLServer" connectionString="data source=DatabaseServer.dev.GenesysSource.com;initial catalog=FrameworkData;Integrated Security=True;Multipleactiveresultsets=True;Application Name=GenesysFramework" providerName="System.Data.EntityClient" />
  <add name="TestADOConnection" connectionString="Data Source=DatabaseServer.dev.GenesysSource.com;Initial catalog=FrameworkData;user ID=TestUser;password=TestPassword;Connect Timeout=180;Application Name=GenesysFramework;" providerName="System.Data.EntityClient" />
  <add name="TestEFConnection" connectionString="metadata=res://*/Genesys.Framework.Test.csdl|res://*/Genesys.Framework.Test.ssdl|res://*/Genesys.Framework.Test.msl;provider=System.Data.SqlClient;provider connection string='data source=DatabaseServer.dev.GenesysExtensions.com;initial catalog=FrameworkData;integrated security=True;MultipleActiveResultSets=True;App=GenesysExtensions'" providerName="System.Data.EntityClient" />
</connectionStrings>
